{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<section class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-6 offset-sm-3 blog-header">
      <h1 class="post-title">{% trans "Sign In" %} Page</h1>
      <p class="registration-text">
        {% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>
<section class="container-fluid">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="row signup-container-full">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
            <div class="text-center">
              <button type="submit" class="btn-login">{% trans "Login" %}</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>

{% endblock %}
