body {
    background-color: #F9FAFC;
    color: rgba(0, 149, 255, 0.699);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}


/* Colors */

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 149, 255, 0.699);
}

.bg-orange {
    background-color: rgba(255, 166, 0, 0.648)
}

.blue-o {
    color: #105ce8;
}

.dark-bg {
    background-color: darkorange;
}

/* Home page image and cover text */

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.landing-image {
    background: no-repeat center 25%;
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664098996/bootcamp/hero_image_vfy7fk.jpg');
    background-size: cover;
    height: 50vh;
    width: 100%;
    position: relative;
  }

.cover-text h5, .cover-text h6 {
    margin: 5%;
    font-size: 1.5rem;
    color: #105ce8;
}

/* Introduction with button link to Blog */

.cover-text {
    margin-top: 20vh;
    background-color: rgba(255, 166, 0, 0.648);
    border-radius: 5px;
    position: absolute;
}

.click-to-blog {
    text-decoration: none;
}

.bootcamp-intro {
    color: darkorange;
    background-color: #fff;
}

.bootcamp-intro h1 {
    font-size: 2.5rem;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.bootcamp-intro h2 {
    font-size: 2rem;
}

.bootcamp-intro p {
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1vh;
}

.btn-blog {
    color: #105ce8;
    border: none;
    border-radius: 5px;
    background: darkorange;
    font-size: 200%;
    font-weight: 500;
    margin-top: 1vh;
    padding: 1vh 0;
}

.btn-blog:hover {
    color: darkorange;
    border: none;
    background: transparent;
}

.section-divider {
    border-top: 0.25rem solid #105ce8;
    margin-top: 2.5vh;
    padding-bottom: 2.5vh;
}

/* Exercises with emerging text when hovered over */

.training-1 {
    margin-top: 5vh;
    background-color: #105ce8;
    height: 40vh;
}

.exercise-detail {
    height: 50vh;
}

.back-box {
    margin-top: 5vh;
    background-color: #105ce8;
    height: 40vh;
}

.map-outer {
    height: 40vh;
}

.map {
    height: 100%;
    width: 100%;
}

/* Media queries for medium screen sizes less than 576px */
@media screen and (max-width: 798px) {
    .bootcamp-intro h1 {
        font-size: 2.5rem;
    }
}

/* Media queries for small screen sizes less than 576px */
@media screen and (max-width: 576px) {
    .cover-text {
        margin-left: 60%;
    }

    .section-divider {
        margin-left: 25vw;
        margin-right: 25vw;
    }

    .intro-text, .section-divider {
        padding-left: 15%;
        padding-right: 15%;
    }

    .bootcamp-intro h1 {
        font-size: 2rem;
    }

    .bootcamp-intro h2 {
        font-size: 2rem;
    }

    .button-container-div {
        display: flex;
        justify-content: center;
    }

    .btn-blog {
        font-size: 150%;
        margin-top: 2vh;
        padding: 1vh 2vw;
    }
}

/* Media queries for small screen sizes less than 450px */
@media screen and (max-width: 450px) {
    .bootcamp-intro h1 {
        font-size: 2rem;
    }

    .bootcamp-intro h2 {
        font-size: 2rem;
    }
}

/* ______________________________________________ */

/* .light-bg {
    background-color: #fff;
}


.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
} */