/* Colors */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 149, 255, 0.699);
}

.bg-orange {
    background-color: rgba(255, 166, 0, 0.648);
}

.blue-o {
    color: #105ce8;
}

.dark-bg {
    background-color: darkorange;
}

/* Header and Footer */
.padding-outer {
    padding-left: 2vw;
    padding-right: 2vw;
}

footer {
    color: #1a3771dc;
}

.contact-detail, .social-media-detail {
    font-size: 1.25rem;
    font-weight: 500;
}

.social-media-outer {
    text-align: right;
    padding-right: 2vw;
}

.social-media {
    font-size: 1.25rem;
    padding: 0.25rem;
    color: #1a3771dc;
}

.social-media:hover {
    color: #105ce8;
}

/* Message constants background colour */
.temp-background {
    background-color: rgba(255, 166, 0, 0.648);
}

/* Home page */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.landing-image {
    background: no-repeat center 25%;
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664098996/bootcamp/hero_image_vfy7fk.jpg');
    background-size: cover;
    height: 50vh;
    width: 100%;
    position: relative;
    padding-bottom: 25vh;
  }

.cover-text h5, .cover-text h6 {
    margin: 5%;
    font-size: 1.5rem;
    color: #105ce8;
}

/* Introduction with embeded google map image */
.intro-spacer {
    padding-top: 5vh;
    background-color: rgba(255, 166, 0, 0.648);
}

.cover-text {
    margin-top: 20vh;
    background-color: rgba(255, 166, 0, 0.648);
    border-radius: 5px;
    position: absolute;
}

.cover-text:hover {
    background-color: darkorange;
}

.sign-up-link {
    text-decoration: none;
}

.bootcamp-intro {
    color: #1a3771dc;
    background-color: #fff;
}

.bootcamp-intro h1, .blog-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    color: #105ce8;
}

.bootcamp-intro p {
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1vh;
}

.map-outer {
    height: 40vh;
    padding: 5%;
}

.map {
    height: 100%;
    width: 100%;
}

.section-divider {
    border-top: 0.25rem solid darkorange;
    margin-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.bootcamp-intro h2 {
    font-size: 2rem;
    color: #105ce8;
}

.endurance-image, .strength-image, .balance-image {
    background: no-repeat center 40%;
    background-size: cover;
    height: 25vh;
    position: relative;
  }

.endurance-image {
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664543999/running_ishige.jpg');
}

.strength-image {
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664538668/strength_ksmjoi.jpg');
}

.balance-image {
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664546323/balance_g5oz4g.jpg');
}

.flexibility-image {
    background: no-repeat center 80%;
    background-size: cover;
    height: 25vh;
    position: relative;
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664544675/flexibility_u2mi2n.jpg');
}

.workout-type {
    margin-top: 2.5vh;
    background-color: #1a3771dc;
    height: 40vh;
    overflow: auto;
    border-radius: 10px;
}

.exercise-detail p {
    line-height: 1.1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 1vh 1vw;
    text-align: center;
    color: darkorange;
}

/* Bootcamp Blog */
.post-container {
    margin-top: 2.5vh;
    height: 60vh;
    overflow: auto;
}

.post-link {
    color: darkorange;
    text-decoration: none;
}

.post-content-container {
    padding: 1vh 2vw;
}

.post-img-top {
    background: no-repeat center 40%;
    background-size: cover;
    height: 60%;
    width: 100%;
    position: relative;
}

.post-content-divider {
    border-top: 0.25rem solid darkorange;
    margin-top: 0.5vh;
}

/* Blog Post Detail */
.post-container-full, .registration-container-full, .signup-container-full {
    background-color: #1a3771dc;
    color: darkorange;
    margin: auto;
    padding: 2vh 0;
}

.post-detail-image {
    background: no-repeat center 50%;
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664736535/post-image_lzmhts.jpg');
    background-size: cover;
    height: 40vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.post-subtitle {
    font-size: 0.75rem;
}

.message-container-outer {
    margin: auto;
    color: rgb(93, 93, 92);
    font-family: Helvetica;
    padding-bottom: 1vh;
}

.message-container-full {
    margin: auto;
}

.comment-divider {
    border-top: 0.25rem solid #1a3771dc;
    margin-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.post-subtitle {
    font-size: 0.75rem;
}

/* Registration page */
.registration-container-full, .signup-container-full {
    border-radius: 10px;
}

.registration-text {
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1vh;
}

/* Button Style */
.btn-blog, .btn-login, .btn-logout, .btn-signup {
    margin: auto;
}

.btn-blog, .btn-login, .btn-logout, .btn-signup, .btn-register {
    color: #1a3771dc;
    border: none;
    border-radius: 5px;
    background: darkorange;
    font-size: 150%;
    font-weight: 500;
    margin: 2.5vh 0 1.5vh 0;
    padding: 0.5vh 3vw;
    text-decoration: none;
}

.btn-blog:hover, .btn-login:hover, .btn-logout:hover, .btn-signup:hover, .btn-register:hover {
    color: darkorange;
    border: none;
    background: #1a3771dc;
}

/* Media queries for medium screen sizes less than 798px */
@media screen and (max-width: 798px) {
    .bootcamp-intro h1, .blog-header h1 {
        font-size: 2.25rem;
    }
}

/* Media queries for small screen sizes less than 576px */
@media screen and (max-width: 576px) {
    /* Footer */
    .social-media-outer {
        text-align: center;
        padding-right: 0;
    }
    
    /* Index page */
    .hide-contact {
        display: none;
    }

    .cover-text {
        margin-left: 60%;
    }

    .section-divider {
        width: 80%;
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .bootcamp-intro h1, .blog-header h1 {
        font-size: 2rem;
    }

    .bootcamp-intro h2 {
        font-size: 2rem;
    }

    .button-container-div {
        display: flex;
        justify-content: center;
    }

    /* Bootcamp blog page */
    .blog-header h1 {
        margin-bottom: 0;
    }

    .post-container {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }

    /* Registration page */
    .registration-container {
        width: 80%;
        margin: auto;
    }

    .registration-text {
        width: 70%;
        margin: auto;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}

/* Media queries for small screen sizes less than 450px */
@media screen and (max-width: 450px) {
    .bootcamp-intro h1 {
        font-size: 2rem;
    }

    .bootcamp-intro h2 {
        font-size: 2rem;
    }

    /* Bootcamp blog page */
    .blog-header h1 {
        margin-left: 5%;
        margin-right: 5%;
    }
}
