/* Colors */

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 149, 255, 0.699);
}

.bg-orange {
    background-color: rgba(255, 166, 0, 0.648);
}

.blue-o {
    color: #105ce8;
}

.dark-bg {
    background-color: darkorange;
}

/* Header and Footer */

footer {
    color: #1a3771dc;
}

.contact-outer {
    padding-left: 2vh;
}

.contact-detail, .social-media-detail {
    font-size: 1.25rem;
    font-weight: 500;
}

.social-media {
    font-size: 1.25rem;
    padding: 0.25rem;
}

.social-media:hover {
    color: #105ce8;
}

/* Home page image and cover text */

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.landing-image {
    background: no-repeat center 25%;
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664098996/bootcamp/hero_image_vfy7fk.jpg');
    background-size: cover;
    height: 50vh;
    width: 100%;
    position: relative;
    padding-bottom: 25vh;
  }

.cover-text h5, .cover-text h6 {
    margin: 5%;
    font-size: 1.5rem;
    color: #105ce8;
}

/* Introduction with embeded google map image */

.intro-spacer {
    padding-top: 5vh;
    background-color: rgba(255, 166, 0, 0.648);
}

.cover-text {
    margin-top: 20vh;
    background-color: rgba(255, 166, 0, 0.648);
    border-radius: 5px;
    position: absolute;
}

.cover-text:hover {
    background-color: darkorange
}

.sign-up {
    text-decoration: none;
}

.bootcamp-intro {
    color: #1a3771dc;
    background-color: #fff;
}

.bootcamp-intro h1, .blog-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    color: #105ce8;
}

.bootcamp-intro p {
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1vh;
}

.map-outer {
    height: 40vh;
    padding: 5%;
}

.map {
    height: 100%;
    width: 100%;
}

.section-divider {
    border-top: 0.25rem solid darkorange;
    margin-top: 2.5vh;
    padding-bottom: 2.5vh;
}

/* Bootcamp information with button link to Blog */

.bootcamp-intro h2 {
    font-size: 2rem;
    color: #105ce8;
}

.btn-blog, .btn-login {
    color: #1a3771dc;
    border: none;
    border-radius: 5px;
    background: darkorange;
    font-size: 200%;
    font-weight: 500;
    margin-top: 1vh;
    padding: 1vh 0;
}

.btn-blog:hover, .btn-login:hover {
    color: darkorange;
    border: none;
    background: #1a3771dc;
}

/* All 4 types of workout incorporated into a beach bootcamp */

.endurance-image, .strength-image, .balance-image {
    background: no-repeat center 40%;
    background-size: cover;
    height: 25vh;
    position: relative;
  }

.endurance-image {
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664543999/running_ishige.jpg');
}

.strength-image {
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664538668/strength_ksmjoi.jpg');
}

.balance-image {
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664546323/balance_g5oz4g.jpg');
}

.flexibility-image {
    background: no-repeat center 80%;
    background-size: cover;
    height: 25vh;
    position: relative;
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664544675/flexibility_u2mi2n.jpg');
}

.workout-type {
    margin-top: 2.5vh;
    background-color: #1a3771dc;
    height: 40vh;
    overflow: auto;
    border-radius: 10px;
}

.exercise-detail p {
    line-height: 1.1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 1vh 1vw;
    text-align: center;
    color: darkorange;
}

/* Bootcamp Blog */

.post-container {
    margin-top: 2.5vh;
    background-color: #1a3771dc;
    height: 40vh;
    overflow: auto;
    border-radius: 10px;
}

.post-link {
    color: darkorange;
    text-decoration: none;
}

.post-content-container {
    color: darkorange;
    padding: 1vh 2vw;
}

.post-img-top {
    background: no-repeat center 40%;
    background-size: cover;
    height: 50%;
    width: 100%;
    position: relative;
}

.post-content-divider {
    border-top: 0.25rem solid darkorange;
    margin-top: 0.5vh;
}

.transform-post {
    transition: all .5s ease-in; 
}

.transform-post:hover {
    transform: scale(1.05);
}

/* Blog Post Detail */

.post-container-full {
    background-color: #1a3771dc;
    color: darkorange;
    margin: auto;
    padding: 2vh 0;
}

.post-detail-image {
    background: no-repeat center 50%;
    background-image: url('https://res.cloudinary.com/dwc6uclyo/image/upload/v1664736535/post-image_lzmhts.jpg');
    background-size: cover;
    height: 40vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.post-subtitle {
    font-size: 0.75rem;
}

.color-gradient {
    margin: auto;
    padding-top: 5vh;
    background: linear-gradient(to bottom, #1a3771dc 20%, darkorange 60%);
}

.message-container-outer {
    margin: auto;
    background-color: darkorange;
    color: #1a3771dc;
    padding-bottom: 1vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.message-container-full {
    color: #1a3771dc;
    margin: auto;
}

.post-subtitle {
    font-size: 0.75rem;
}

/* Signup page */

.btn-login {
    margin: auto;
}

/* Media queries for medium screen sizes less than 798px */
@media screen and (max-width: 798px) {
    .bootcamp-intro h1, .blog-header h1 {
        font-size: 2.5rem;
    }
}

/* Media queries for small screen sizes less than 576px */
@media screen and (max-width: 576px) {
    .hide-contact {
        display: none;
    }

    .cover-text {
        margin-left: 60%;
    }

    .section-divider {
        margin-left: 25vw;
        margin-right: 25vw;
    }

    .intro-text, .section-divider {
        padding-left: 50%;
        padding-right: 15%;
    }

    .bootcamp-intro h1, .blog-header h1 {
        font-size: 2rem;
    }

    .bootcamp-intro h2 {
        font-size: 2rem;
    }

    .button-container-div {
        display: flex;
        justify-content: center;
    }

    .btn-blog {
        font-size: 150%;
        margin-top: 2vh;
        padding: 1vh 2vw;
    }

    .btn-login {
        font-size: 150%;
        padding: 2vh 8vw;
    }

    /* Bootcamp blog page */
    .blog-header h1 {
        margin-bottom: 0;
    }

    .post-container {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}

/* Media queries for small screen sizes less than 450px */
@media screen and (max-width: 450px) {
    .bootcamp-intro h1 {
        font-size: 2rem;
    }

    .bootcamp-intro h2 {
        font-size: 2rem;
    }

    /* Bootcamp blog page */
    .blog-header h1 {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* ______________________________________________ */

/* .light-bg {
    background-color: #fff;
}


.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
} */