{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <div class="landing-image">
        <div class="row">
            <div class="col-sm-2 offset-sm-8">
                <div class="cover-text text-center">
                    <a href="#" class="click-to-blog">
                        <h5>Beach Bootcamps</h5>
                        <p>Sign Up today!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid bootcamp-intro">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 intro-text text-center">
            <h1>Beach Bootcamps</h1>
            <p>
                Introducing Ireland's newest physical and mental endurance challenge. Located on the north side of
                Dublin city, Dollymount beach is the launch location for Beach Bootcamps. Entry is free as this is part
                of a community initiative.
            </p>
            <p>
                On the first Saturday of each month, Bull Island known for its scenic views and long stretches of
                coastline will be converted into the ultimate all weather assault course. No bootcamp will ever be the
                same so check out our blog now and suggest a challenge. Hopefully your idea is not what breaks you!
            </p>
            <button class="btn-blog">See our blog</button>
        </div>
    </div>
</section>

{%endblock%}