{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <div class="landing-image">
        <div class="row">
            <div class="col-sm-2 offset-sm-8">
                <div class="cover-text text-center">
                    <a href="#" class="click-to-blog">
                        <h5>Beach Bootcamps</h5>
                        <p>Sign Up today!</p>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}