{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <div class="landing-image">
        <div class="row">
            <div class="col-sm-2 offset-sm-8">
                <div class="cover-text text-center">
                    <a href="#" class="click-to-blog">
                        <h5>Beach Bootcamps</h5>
                        <p>Sign Up today!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid bootcamp-intro">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 intro-text text-center">
            <h1>Beach Bootcamps</h1>
        </div>
    </div>
    <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
        <div class="row col-sm-10 offset-sm-1">
            <div class="col-lg-6 col-md-6 intro-text text-center">
                <p>
                    Introducing Ireland's newest physical and mental endurance challenge. Located on the north side of
                    Dublin city, Dollymount beach is the launch location for Beach Bootcamps. Entry is free as this is part
                    of a community initiative.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 intro-text text-center">
                <div class="map-outer"></div>
            </div>
        </div>
    </div>      
    <button class="col-lg-3 offset-lg-4.5 col-md-4 offset-md-4 col-sm-4 offset-sm-4 btn-blog">See our blog</button>
    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>

<section class="container-fluid bootcamp-intro">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 intro-text text-center">
            <h2>The Course Changes</h2>
            <p>The difficulty does not!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="row justify-content-center">
                <div class="col-lg-6 intro-text text-center">
                    <h2>The Course Changes</h2>
                    <p>The difficulty does not!</p>
                    <div class="back-box"></div>
                </div>
                <div class="col-lg-6 intro-text text-center">
                    <h2>The Course Changes</h2>
                    <p>The difficulty does not!</p>
                    <div class="back-box"></div>
                </div>
                <div class="col-lg-6 intro-text text-center">
                    <h2>The Course Changes</h2>
                    <p>The difficulty does not!</p>
                    <div class="back-box"></div>
                </div>
                <div class="col-lg-6 intro-text text-center">
                    <h2>The Course Changes</h2>
                    <p>The difficulty does not!</p>
                    <div class="back-box"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 offset-sm-3 section-divider"></div>
</section>
    
</section>

{%endblock%}