{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<section class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-6 offset-sm-3 blog-header">
            <h1>{{ post.title }}</h1>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>

<!-- Selected blog post -->
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="row justify-content-center">
                <div class="col-sm-10 text-center">
                    <div class="post-container">
                        <img class="post-img-top"
                            src="https://res.cloudinary.com/dwc6uclyo/image/upload/v1664736535/post-image_lzmhts.jpg" />
                        <div class="post-content-container">
                            <p>
                                {% with comments.count as total_comments %}
                                <strong><i class="far fa-comments"></i>
                                    {{ total_comments }}
                                </strong>
                                {% endwith %}
                                | {{ post.title }} - Posted by {{ post.author }} on {{ post.created_on }}
                            </p>
                            <p>
                                {{ post.content | safe }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>

    <!-- Blog post comments by logged in users -->
    <div class="row">
        <div class="col-sm-5 offset-sm-2">
            <div class="message-container-outer">
                <div class="message-container-full">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% for comment in comments %}
                    <div class="text-center">
                        <p class="message-subtitle">
                            Comment | {{ comment.name }} on {{ comment.created_on }}
                        </p>
                        <p class="message-content">
                            {{ comment.body | linebreaks }}
                        </p>
                    </div>
                    <div class="section-divider"></div>
                    {% endfor %}
                </div>
            </div>

            <div class="row message-container-outer">
                {% if user.is_authenticated %}
                <div class="col-sm-4">
                    <h3>Add a comment:</h3>
                    <p>Logged in: <b>{{ user.username }}</b></p>
                </div>
                <div class="col-sm-8 text-center">
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn-login">Submit</button>
                    </form>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
