{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<section class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-6 offset-sm-3 blog-header">
            <h1 class="post-title">Blog Post - {{ post.title }}</h1>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>

<!-- Selected blog post -->
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="post-detail-image">
            </div>
            <div class="row post-container-full">
                <div class="">
                    <p class="post-subtitle">Posted by {{ post.author }} on <b>{{ post.created_on }}</b></p>
                    <p class="post-content">{{ post.content | safe }}
                        {% with comments.count as total_comments %}
                            <strong><i class="far fa-comments"></i>
                                {{ total_comments }}
                            </strong>
                        {% endwith %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="color-gradient">
            </div>
        </div>
    </div>

    <!-- Blog post comments by logged in users -->
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="row message-container-outer">
                <h3 class="text-center">Comments:</h3>
                <div class="col-sm-6 offset-sm-3 comment-divider"></div>
                <div class="row message-container-full">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% for comment in comments %}
                    <div class="">
                        <p class="message-subtitle">
                            Comment by {{ comment.name }} on <b>{{ comment.created_on }}</b>
                        </p>
                        <p class="message-content">
                            {{ comment.body | linebreaks }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row message-container-outer">
                {% if user.is_authenticated %}
                    <div class="col-sm-4">
                        <h3>Add a comment:</h3>
                        <p>Logged in: <b>{{ user.username }}</b></p>
                    </div>
                    <div class="col-sm-8 text-center">
                        <form method="post">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn-add-comment">Submit</button>
                        </form>
                    </div>
                {% endif %}   
                {% endif %}
                </div>
            </div>
        </div>
    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>

{% endblock %}
