{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<section class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-6 offset-sm-3 blog-header">
            <h1 class="post-title">Bootcamp Registration</h1>
            {% if user.is_authenticated %}
            <p class="registration-text">Please keep your bootcamp registrations up to date.
                <a href="{% url 'cancel_registration' %}">Cancel</a> a booking or <a
                    href="{% url 'cancel_registration' %}">Update</a> your
                contact information as required.</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>

<!-- Registration form to be submitted to register for bootcamp -->
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 registration-container">
            {% if user.is_authenticated %}
            <div class="row registration-container-full">
                <form method="POST">
                    {{ registration_form | crispy }}
                    {{ booking_details | crispy }}
                    {% csrf_token %}
                    <div class="text-center">
                        <button type="submit" class="btn-register">
                            Register
                        </button>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="row registration-container-full">
                <h3 class="post-title text-center">Create an account to register</h3>
            </div>
            <p class="registration-text text-center">
                Please <a href="{% url 'account_signup' %}">sign up</a> first.
            </p>
            {% endif %}
        </div>
    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>

{% endblock %}
