{% extends "base.html" %} {% block content %}

<section class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-6 offset-sm-3 blog-header">
            <h1 class="post-title">Update Registration</h1>
            <p class="registration-text">Contact is done by email. Update it below if required.</p>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 registration-container">
            <div class="row registration-container-full text-center">
                <table>
                    <form method="POST">
                    {% csrf_token %}
                    <tr>
                        <td>
                            <h4>{{ current_registration.name }}</h4>
                        </td>
                        <td>
                            <h4>{{ current_registration.email }}</h4>
                        </td>
                        <td>
                            <h4>{{ registration_details.email }}</h4>
                        </td>
                        <td>
                            <button type="submit" class="btn-register">Update</button>
                        </td>
                    </tr>
                    </form>
                </table>
            </div>
        </div>
    </div>
</section>
    
    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 section-divider"></div>
</section>

{% endblock %}